<h2>トレーニングエリア</h2>
<h3>みんなのトレーニングを見ることができます<i class="fas fa-running"></i></h3>

<div class="row">
  <% @trainings.each do |training| %>
  <div class="col-md-3">
    <div class="card">
       <%= link_to training_path(training.id) do %>
       <%= attachment_image_tag training, :image, class: 'card-img-top' %>
       <% end %>
      <%= attachment_image_tag training.user, :profile_image, size: "100x100", class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg"%>

       <%= link_to training_path(training.id) do %>
       <i class="fas fa-utensils"></i>
       <%= training.training_name %>
       <% end %>
       <p><i class="fas fa-user-edit"></i>ユーザー名
         <%= training.user.name %>
     </p>
     <%= link_to training_path(training.id), class: 'btn btn-primary' do %>
     <i class="fas fa-glasses"></i>
     <span>もっとみる</span>
     <i class="fas fa-glasses"></i>
     <% end %>
 </div>
</div>
<% end %>
<div class="mx-auto" style="width: 200px;">
</div>
