<% @recipes.each do |recipe| %>
<div class="card mb-1">
	<div class="card-body">
		<h4><%= simple_format recipe.body%></h4>
		<p class="card-text"><%=recipe.title%></p>
		<p class="trim-image-to-circle">
			<%= link_to user_path(recipe.user_id) do %>
			<%=attachment_image_tag recipe.user, :profile_image, class:"profile-img-circle", size:"10x10",fallback: "no_image.jpg", size:'60x60' %>
			<%= recipe.user.name %>さん
			<% end %>
		</p>
		<i class="far fa-edit">おたけび時間</i>
		<%= recipe.created_at.strftime('%m月%d日%H:%M:%S')%>
	</div>
</div>
<% end %>
<%= paginate @recipes %>



