<div class="container mt-5">
	<div class="row">
		<div class="col-3 sidebar">
			<h4><br>あなたの１日の目標を宣言したり、目標をメモしたりしてみてください。<br>
			書くことで、より実現の可能性が高まると言われています!</h4>
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
				目標を宣言する！
			</button>
		　</div>
		<div class="col-9 sidebar recipes">
			<%= render 'recipes', recipes: @recipes %>
		</div>
	</div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	　　<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">この1日にやりたいこと</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<%= form_for @recipe, remote: true do |f| %>
			<div class="modal-body">
				<div class="form-body">
					<div class="form-group">
						<%= f.label :body, "おたけび" %>
						<%= f.text_area :body, class:"form-control"%>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
					<%= f.hidden_field :user_id, :value => current_user.id %>
					<%= f.submit "投稿する", class:"btn btn-primary" %>
				</div>
			</div>
			<% end %>
		</div>
	</div>
</div>


