投稿のindex（一覧）
<section class="sct-color-1 slice">
  <div class="container-fluid masonry-container">
    <div class="row">
      <div class="col-md-8 col-sm-offset-2">
        <div class="masonry-wrapper-cols">
          <div class="masonry-gutter"></div>
          <!-- 投稿がないのでnillエラー -->
          <% @post.each do |post| %>

          <%= link_to post_path(post.id) do %>
          <%= attachment_image_tag post, :image %>
          <% end %>

          <%= post.food_name %>
		      <%= post.caption %>
		      <%= post.user_id %>

          <% end %>