

<%= form_for(@post, url: posts_path) do |f| %>
<% if @post.errors.any? %>
<div id="error_explanation">
  <h3><%= @post.errors.count %>件のエラーが発生しました。</h3>
  <ul>
    <% @post.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="container">
  <div class="row py-3">
    <div class="col-3 order-2" id="sticky-sidebar">
      <div class="sticky-top">

      </div>
    </div>
    <div class="col" id="main">
      <br>
      <h4>Qこのページは何をするページですか？</h4>
      <b>このページではあなたの普段食べている食事を投稿してください。<br>筋肉が喜ぶような、健康的な食事を投稿してくださるととても嬉しいです。<br>このページを通じで、あなたが理想の体を手に入れることができることを祈っています。</b>
      <h3>筋肉メシを投稿する</h3>
      <label for="photo">筋肉飯の画像を選んでください</label><br>
      <%= f.attachment_field :image %><br>
      <h4><label for="name">筋肉飯のレシピ名</label></h4>
      <%= f.text_field :food_name, :size=>"60x100", placeholder:"この筋肉飯の名前は？" %>
      <div class="inputsize">
       <h4><label for="caption">説明</label></h4>
       <%= f.text_area :caption, :size=>"60x10" , placeholder:"もしよろしければ、栄養素や食材をこちらに入力してください" %>
     </div>
     <button type="submit" class="btn btn-primary">この食事をシェアする</button>
   </form>
   <% end %>
 </div>
</div>
</div>
