投稿の詳細ページです


<%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'  %>

<%= attachment_image_tag @post, :image %>
<h2 class="post-title"><%= @post.food_name %></h2>
<%= @post.user.name %>
<i class="fa fa-calendar"></i><%= @post.created_at.strftime('%y/%m/%d') %>



<li>
  <i class="fa fa-comment"></i>
  <a href="#comments"><%= @post.post_comments.count %></a>
</li>
<div class="comment-list bt style-2" id="comments">
  <div class="float-wrapper">
    <h2 class="comment-count"><%= @post.post_comments.count %>件コメント</h2>
  </div>

 <ul>
 	<% @post.post_comments.each do |post_comments| %>
 	<li class="comment">
 		<div class="comment-body">
 			<div class="comment-avatar">
 				<div class="avatar">
 				</div>
 			</div>
 		<div class="commetn-text">
 			<div class="comment-author clearfix">
 				<a href="#" class="link-author"><%= post_comments.user.name %></a>
 				<span class="comment-meta">
 					<span class="comment-data"><%= post_comments.created_at.strftime('%y/%m/%d') %></span>
 				</span>
 			</div>
 			<div class="comment-entry"><%= post_comments.comment %></div>
 			<% if post_comments.user == current_user%>
 			<div>
 				<%= link_to "コメント削除", post_post_comment_path(post_comments.post, post_comments), method: :delete, class: "btn btn-danger pull-right" %>
 			</div>
 			<% end %>
 		</div>
 	 </div>
    </li>
  <% end %>
</ul>

<%= form_for [@post, @post_comment] do |f| %>
	<div class="row">
    <div class="col-sm-12">
      <%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
    </div>
  </div>
  <%= f.submit "送信する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
<% end %>

