

<main role="main">
  <div class="jumbotron">
    <div class="container">
      <h2 class="display-4"><p class="text-info">筋stagramとは？</p></h2>
      <p><br>"筋stagram"はフィットネスを通じて人生をより豊かにするためのSNSです。<br>筋stagramでは会員の皆さんの普段使っているジムやトレーニング、食事方法を共有することができます。筋staを使うことで初心者の方も上級者の方も、楽しくフィットネスに触れることができるようになります。<br><br>フィットネスを通じて人生100年時代をより良いものにしていきましょう！</p>
      <%= link_to  new_user_registration_path, class: 'btn btn-primary btn-lg' do%>
      <i class="fas fa-user-plus"></i>
      <span>メンバー登録は無料です&raquo;</span>
      <% end %>


    </div>
  </div>

  <div class="container">
    <div class="card-group">
      <div class="card">
        <%= image_tag 'card6.png' %>
        <div class="card-body">
          <h3 class="card-title"><i class="fas fa-dumbbell">流行のトレーニング情報</i><i class="fas fa-dumbbell"></i></h3>
          <p class="card-text">カッコイイ体を手にいれたい....<br>でもどんなトレーニングをすればいいのかわからない...。そんなあなたはこのページを見てみるといいでしょう。.</p>
          <%= link_to  new_user_registration_path, class: 'btn btn-secondary' do%>
          <span>詳しく見てみる&raquo;</span>
          <% end %>        </div>
        </div>
        <div class="card">
          <%= image_tag 'card5.jpg' %>
          <div class="card-body">
            <h3 class="card-title"><i class="far fa-smile">ジムを探しているあなたへ</i><i class="far fa-smile"></i></h3>
            <p class="card-text">転勤や引っ越し、就職に伴い、どこのジムが良いのかわからない・・・。<br>そんな方はこちらのページがおススメ！<br>あなたのお住まいの地域で人気のあるフィットネスジムがきっと見つかるはずです。</p>
            <%= link_to  new_user_registration_path, class: 'btn btn-secondary' do%>
            <span>詳しく見てみる&raquo;</span>
            <% end %>        </div>
          </div>
          <div class="card">
            <%= image_tag 'card3.jpg' %>
            <div class="card-body">
              <h3 class="card-title"><i class="fas fa-fish">栄養満点な筋肉飯</i><i class="fas fa-fish"></i></h3>
              <p>ダイエットをしたい。でも何から始めていいのかわからない...。そんなあなたはこのページを見てみることをお勧めします。フィットネス愛好家たちの、普段食べている健康的な食事を勉強することができます。</p>
              <%= link_to  new_user_registration_path, class: 'btn btn-secondary' do%>
              <span>詳しく見てみる&raquo;</span>
              <% end %>



            </div>
          </div>
        </div>
        <hr>
      </div>
    </main>