<h2>みんなのジム</h2>
<h3>ジム探しの役に立つような情報を見ることができます<i class="fas fa-running"></i></h3>

<div class="row">
  <% @gym_images.each do |gym_image| %>
  <div class="col-md-3">
    <div class="card">
       <%= link_to gym_image_path(gym_image.id) do %>
       <%= attachment_image_tag gym_image, :image, class: 'card-img-top' %>
       <% end %>
       <%= attachment_image_tag gym_image.user, :profile_image, size: "100x100", class: "img-circle pull-left profile-thumb", fallback: "no_image.jpg"%>

       <%= link_to gym_image_path(gym_image.id) do %>
       <i class="fas fa-utensils"></i>
       <%= gym_image.gym_name %>
       <% end %>
       <p><i class="fas fa-user-edit"></i>ユーザー名
         <%= gym_image.user.name %>
     </p>
     <%= link_to  gym_image_path(gym_image.id), class: 'btn btn-primary' do %>
     <i class="fas fa-glasses"></i>
     <span>もっとみる</span>
     <i class="fas fa-glasses"></i>
     <% end %>
 </div>
</div>
<% end %>
<div class="mx-auto" style="width: 200px;">
<%#= paginate @gym_images %>
</div>
