<!doctype html>
<html lang="ja">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <title>kinstagram</title>
  <!-- セキュリティ関連　間違って消してしまっていたので今後注意 -->
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- アイコンを使うための記述 -->
  <script src="https://kit.fontawesome.com/81a252e865.js" crossorigin="anonymous"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <!-- 見出しを装飾するための記述を記載しています -->
  <!-- いいね　ドロップダウン　-->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <h1><a href="/">
      <img src= "<%= asset_path "logo.png" %>" alt="kinstagram"></a></h1>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <% if user_signed_in? %>
            <%= link_to  destroy_user_session_path, method: :delete, class: 'btn btn-default' do%>
            <i class="fas fa-running"></i>
            <span>ログアウト</span>
            <% end %>
            <%= link_to  new_post_path, class: 'btn btn-default' do%>
            <i class="far fa-newspaper"></i>
            <span>投稿する</span>
            <% end %>
            <%= link_to  user_path(current_user.id), class: 'btn btn-default' do%>
            <i class="far fa-address-card"></i>
            <span>マイページ</span>
            <% end %>
            <!-- ドロップダウンメニューはサインアウトしていても表示される -->
            <li class="nav-item dropdown">
              <a class="nav-link btn btn-default dropdown-toggle" href="#"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">みんなの投稿一覧</a>
              <div class="dropdown-menu" aria-labelledby="dropdown01">
                <%= link_to  posts_path, class: 'btn btn-default' do%>
                <i class="fas fa-carrot"></i>
                <span>筋肉飯</span>
                <i class="fas fa-carrot"></i>
                <% end %>
                <%= link_to  posts_path, class: 'btn btn-default' do%>
                <i class="fas fa-biking"></i>
                <span>行ってるジム</span>
                <i class="fas fa-biking"></i>
                <% end %>
                <%= link_to  posts_path, class: 'btn btn-default' do%>
                <i class="fas fa-swimmer"></i>
                <span>トレーニング</span>
                <i class="fas fa-swimmer"></i>
                <% end %>
              </div>
            </li>
          </ul>
          <!-- ログアウトしている場合 -->
          <% else %>
          <%= link_to  new_user_session_path, class: 'btn btn-default' do%>
          <i class="fas fa-sign-in-alt"></i>
          <span>ログインする</span>
          <% end %>
          <%= link_to  new_user_registration_path, class: 'btn btn-default' do%>
          <i class="fas fa-user-plus"></i>
          <span>会員登録</span>
          <% end %>
          <!-- ドロップダウンメニュー -->
          <li class="nav-item dropdown">
            <a class="nav-link btn btn-default dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">みんなの投稿一覧</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <%= link_to  posts_path, class: 'btn btn-default' do%>
              <i class="fas fa-carrot"></i>
              <span>筋肉飯</span>
              <i class="fas fa-carrot"></i>
              <% end %>
              <%= link_to  posts_path, class: 'btn btn-default' do%>
              <i class="fas fa-biking"></i>
              <span>行ってるジム</span>
              <i class="fas fa-biking"></i>
              <% end %>
              <%= link_to  posts_path, class: 'btn btn-default' do%>
              <i class="fas fa-swimmer"></i>
              <span>トレーニング</span>
              <i class="fas fa-swimmer"></i>
              <% end %>
            </div>
          </li>
        </ul>
        <% end %>
        <p class="text-right">
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="検索" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">検索</button>
          </form>
        </p>
      </div>
    </nav>
    <!-- フラッシュメッセージ -->
    <% if flash[:notice] %>
    <div class="alert alert-primary" role="alert"><strong><%= notice %></strong></div>
    <% end %>
    <% if flash[:alert] %>
    <div class="alert alert-danger" role="alert"><strong><%= alert %></strong></div>
    <% end %>
    <%= yield %>
    <footer class="container">
      <p class="text-center">&copy; 筋stagram　</p>
    </footer>
  </body>
  </html>

